.contact{
  .contactsList{
    border-right:1px solid #f3f3f3;
  .list-group{
    perfect-scrollbar{
      max-height: 507px;
      .list-group-item{
        border: unset;
        border-bottom: 2px solid #f3f3f3;
        padding-top:1.2em;
        padding-bottom:1.2em;
        &:hover{
          z-index: 0;
        }
        .contactSpellPortion{
          position: absolute;
          right: 0;
          width: 70px;
          height: 30px;
          background: #5d5c8c;
          text-align: center;
          color: #fff;
          top: 2px;
          border-radius: 6px 0 0 6px;
          font-weight: 600;
          box-shadow: 2px 2px 4px 0px #5d5c8c42;
        }
        .profpic{
          width: 40px;
          height: 40px;
          position: relative;
          img{
            @extend .profpic;
            border-radius: 100%;
          }
        }
        p{
        font-size: 12px
        }
        h6{
          color: #5d5c8c
        }

      }
    }
  }
}

}
