<section class="contact">
  <div class="row m-0">
    <div class="col-md-4 p-0 contactsList">
        <header>
            <nav class="navbar bg-light">
              <input type="text" placeholder="Search" class="form-control search">
            </nav>
        </header>
      <ul class="list-group">
        <perfect-scrollbar>
        <li class="list-group-item list-group-item-action pointer" *ngFor="let contact of cotactsList let i = index" >
          <div class="d-flex">
            <div class="profpic mr-3">
              <img [src]="contact.profileImgUrl" alt="pic"/>
            </div>
            <div class="profContent">
              <h6 class="mb-1">{{contact.profileName}}</h6>
              <p class="mb-0">{{contact.profileSatus}}</p>
            </div>
          </div>
          <span class="contactSpellPortion" *ngIf="i==0 || i==5 || i==9">A</span>
        </li>

      </perfect-scrollbar>
      </ul>
    </div>
    <div class="col-md-8 p-0">
        <section class="contactInfo h-100">
        <perfect-scrollbar>
            <div class="profpic mt-5">
              <img alt="pic" src="../../../assets/_images/capture.PNG">
            </div>
            <h3 class="text-center mb-0">Noor Ali</h3>
            <h6 class="mb-3 text-center">Developer.</h6>
            <div class="d-flex justify-content-center mb-4">
              <button class="btn comButtons">Message</button>
              <button class="btn comButtons ml-2 mr-2">Voice Call</button>
              <button class="btn comButtons">Video Call</button>
            </div>

            <div class="personalInformation">
                <span class="taging">Personal & Contact Information</span>
                <ul class="list-group mt-4">
                    <li class="list-group-item">
                      <span>Name</span>
                      <span>Muhammad Noor Ali</span>
                    </li>
                    <li class="list-group-item">
                        <span>Gender</span>
                        <span>Male</span>
                    </li>
                    <li class="list-group-item">
                      <span>Birth Date</span>
                      <span>14-07-1993</span>
                     </li>
                    <li class="list-group-item">
                        <span>Mobile Number</span>
                        <span>+92-333-3413769</span>
                    </li>
                    <li class="list-group-item">
                        <span>Email</span>
                        <span>nooraliyahoo95@gmail.com</span>
                    </li>
                    <li class="list-group-item">
                        <span>Website</span>
                        <span>nooraliyahoo95@gmail.com</span>
                    </li>
                </ul>
            </div>
          </perfect-scrollbar>
        </section>



        <section class="d-none h-100 justify-content-center align-items-center">
            <svg version="1.1" id="iconInfo" fill="#eeeef3" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
            width="150px" viewBox="0 0 400 400" style="enable-background:new 0 0 400 400;" xml:space="preserve">
         <g>
           <g>
             <path d="M199.992,0C89.719,0,0,89.72,0,200s89.719,200,199.992,200C310.273,400,400,310.28,400,200S310.273,0,199.992,0z
                M199.992,373.77C104.18,373.77,26.23,295.816,26.23,200c0-95.817,77.949-173.769,173.762-173.769
               c95.824,0,173.776,77.953,173.776,173.769C373.769,295.816,295.816,373.77,199.992,373.77z"/>
             <path d="M196.293,125.97c9.656,0,17.488-7.832,17.488-17.489c0-9.657-7.832-17.489-17.488-17.489
               c-9.664,0-17.488,7.832-17.488,17.489C178.805,118.138,186.629,125.97,196.293,125.97z"/>
             <path d="M224.09,279.586h-10.969V154.564c0-7.243-5.871-13.116-13.113-13.116h-24.094c-7.242,0-13.113,5.873-13.113,13.116
               s5.871,13.115,13.113,13.115h10.977v111.907h-10.977c-7.242,0-13.113,5.872-13.113,13.115c0,7.242,5.871,13.115,13.113,13.115
               h48.176c7.246,0,13.117-5.873,13.117-13.115C237.207,285.458,231.336,279.586,224.09,279.586z"/>
           </g>
         </g>
         </svg>

    </section>

    </div>
  </div>
</section>
