<section class="dashboard">
  <h6 class="text-uppercase font-weight-bold text-secondary my-3">
    Home / Dashboard
  </h6>
  <div class="row mb-3 overview">
    <div class="col-lg-3 col-12 col-sm-6 mb-3 col-md-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title font-weight-bold text-uppercase small">Total Adervitsers</h5>
          <p class="card-text text-primary display-4 text-center">00</p>
          <a href="#">Go to View</a>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-12 col-sm-6 mb-3 col-md-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title font-weight-bold text-uppercase small">Total Products</h5>
          <p class="card-text text-primary display-4 text-center">150.00</p>
          <a href="#">Go to View</a>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-12 col-sm-6 mb-3 col-md-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title font-weight-bold text-uppercase small">Total Sales</h5>
          <p class="card-text text-primary display-4 text-center">00</p>
          <a href="#">Go to View</a>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-12 col-sm-6 mb-3 col-md-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title font-weight-bold text-uppercase small">Avg Orders</h5>
          <p class="card-text text-primary display-4 text-center">00</p>
          <a href="#">Go to View</a>
        </div>
      </div>
    </div>

  </div>

  <h6 class="text-uppercase font-weight-bold text-secondary my-3">Projection</h6>

  <div class="row">
    <div class="col-12 col-lg-6">
      <img src="../../../../assets/_images/barChart.png" alt="chart">
    </div>
    <div class="col-12 col-lg-6">
      <img src="../../../../assets/_images/lineChart.png" alt="chart">
    </div>
  </div>

  <h6 class="text-uppercase font-weight-bold text-secondary my-3">Featured products</h6>

  <div class="row">
    <div class="col-12 col-lg-6">
      <div class="card mb-3">
        <div class="row no-gutters">
          <div class="col-md-3 d-flex align-items-center justify-content-center p-3">
            <div class="pic">
              <img src="../../../../assets/_images/band.jpg" alt="band">
            </div>
          </div>
          <div class="col-md-9">
            <div class="card-body">
              <h6 class="card-title text-uppercase">Alexander McQueen Black Cord Skull Bracelet</h6>
              <p class="card-text small">Black cord friendship bracelet featuring an adjustable fit, braided style, skull-shaped beads and gold-tone hardware. Composition: 100% Steel/leather</p>
              <p class="card-text">
                <small class="text-danger mr-2 font-weight-bold">PRICE $1,200.00</small>
                <small class="text-muted"><del>$1,900.00</del></small>
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="card mb-3">
        <div class="row no-gutters">
          <div class="col-md-3 d-flex align-items-center justify-content-center p-3">
            <div class="pic">
              <img src="../../../../assets/_images/chain.jpg" alt="chain">
            </div>
          </div>
          <div class="col-md-9">
            <div class="card-body">
              <h6 class="card-title text-uppercase">Ambush knot Ring</h6>
              <p class="card-text small">knot Ring From Ambush: Silver knot RingComposition: 100% ag</p>
              <p class="card-text">
                <small class="text-danger mr-2 font-weight-bold">PRICE $510.00</small>
                <small class="text-muted"><del>$800.00</del></small>
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="card mb-3">
        <div class="row no-gutters">
          <div class="col-md-3 d-flex align-items-center justify-content-center p-3">
            <div class="pic">
              <img src="../../../../assets/_images/necklace.jpg" alt="necklace">
            </div>
          </div>
          <div class="col-md-9">
            <div class="card-body">
              <h6 class="card-title text-uppercase">Prada Shell Pearl Necklace</h6>
              <p class="card-text small">shell Pearl Necklace From Prada: Silver shell Pearl 925 Silver NecklaceComposition: 100% argento</p>
              <p class="card-text">
                <small class="text-danger mr-2 font-weight-bold">PRICE $946.00</small>
                <small class="text-muted"><del>$1,173.00</del></small>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 col-lg-6 d-flex justify-content-center align-items-center">
      <img src="../../../../assets/_images/pieChart.png" class="pieChart" alt="chart">
    </div>
  </div>

</section>