header{
  box-shadow: 0px 0px 7px -2px #d6d6d6;
  border-bottom: 1px solid #f3f3f3;
  .navbar-brand{
    color: #5d5c8c;
    font-size: 25px;
    font-weight: 500;
  }
  .btn{
    color: #5d5c8c;
    @media screen and (max-width:650px){
        span{
          display: none;
        }
    }
    &.logout{
      color: #ba323c;
      position: relative;
      &::before{
        width: 2px;
        height: 100%;
        background: #d6d6d6;
        position: absolute;
        left: 0;
        content: "";
        top: 0;
      }
      
    }
  }
    .profpic{
      width: 40px;
      height: 40px;
      border-radius: 100%;
      border: 2px solid #f5f5f5;
      box-shadow: 0px 0px 1px 3px #e4e4e4;
      img{
        width: 100%;
        height: 100%;
        border-radius: 100%;
      }
    }



}
