header{
  box-shadow: 0px 0px 7px -2px #d6d6d6;
  border-bottom: 1px solid #f3f3f3;
  .navbar-brand{
    color: #5d5c8c;
    font-size: 25px;
    font-weight: 500;
  }
  a{
    color: #5d5c8c;
    &:hover{
      text-decoration: none;
    }
  }
  .btn{
    @media screen and (max-width:650px){
        span{
          display: none;
        }
    }
    &.logout{
      color: #ba323c;
      position: relative;
      &::before{
        width: 2px;
        height: 100%;
        background: #d6d6d6;
        position: absolute;
        left: 0;
        content: "";
        top: 0;
      }
      
    }
  }

}
