.products{
    a{
        &:hover{
            text-decoration: none;
        }
    }
    .addIcon{
        width: 12px;
        vertical-align: initial;
    }
    .pic{
        width: 200px;
        height: 200px;
        margin: auto;
        padding: 1rem;
        img{
            height: 100%;
        }
    }
}