<section class="products">
  <h6 class="d-flex justify-content-between font-weight-bold text-secondary my-3">
    <span>All Products</span>
    <button class="btn text-primary">
      <img class="addIcon" src="./assets/_images/icon_add.svg" alt="add">
      Add Product
    </button>
  </h6>

  <div class="row">
    <div class="col-3 mb-3 mb-3">
      <div class="card">
        <div class="pic">
          <img src="../../../../assets/_images/necklace.jpg" class="card-img-top" alt="necklace">
        </div>
        <div class="card-body">
          <h5 class="card-title text-uppercase">Prada Shell Pearl Necklace</h5>
          <p class="card-text small">shell Pearl Necklace From Prada: Silver shell Pearl 925 Silver NecklaceComposition: 100% argento</p>
          <p class="card-text">
            <small class="text-danger mr-2 font-weight-bold">PRICE $946.00</small>
            <small class="text-muted"><del>$1,173.00</del></small>
          </p>
          <a [routerLink]="['/user/product-detail', 1775836]" class="text-primary text-uppercase small font-weight-bold">Go to Detail</a>
        </div>
      </div>
    </div>
    <div class="col-3 mb-3">
      <div class="card">
        <div class="pic">
          <img src="../../../../assets/_images/band.jpg" class="card-img-top" alt="band">
        </div>
        <div class="card-body">
          <h5 class="card-title text-uppercase text-uppercase">Alexander McQueen Black Cord Skull Bracelet</h5>
          <p class="card-text small">Black cord friendship bracelet featuring an adjustable fit, braided style, skull-shaped beads and gold-tone hardware. Composition: 100% Steel/leather</p>
          <p class="card-text">
            <small class="text-danger mr-2 font-weight-bold">PRICE $1,200.00</small>
            <small class="text-muted"><del>$1,900.00</del></small>
          </p>
          <a [routerLink]="['/user/product-detail', 1775838]" class="text-primary text-uppercase small font-weight-bold">Go to Detail</a>
        </div>
      </div>
    </div>
    <div class="col-3 mb-3">
      <div class="card">
        <div class="pic">
          <img src="../../../../assets/_images/chain.jpg" class="card-img-top" alt="chain">
        </div>
        <div class="card-body">
          <h5 class="card-title text-uppercase">Ambush knot Ring</h5>
          <p class="card-text small">knot Ring From Ambush: Silver knot RingComposition: 100% ag</p>
          <p class="card-text">
            <small class="text-danger mr-2 font-weight-bold">PRICE $510.00</small>
            <small class="text-muted"><del>$800.00</del></small>
          </p>
          <a [routerLink]="['/user/product-detail', 1775832]" class="text-primary text-uppercase small font-weight-bold">Go to Detail</a>
        </div>
      </div>
    </div>
    <div class="col-3 mb-3">
      <div class="card">
        <div class="pic">
          <img src="../../../../assets/_images/locket.jpg" class="card-img-top" alt="locket">
        </div>
        <div class="card-body">
          <h5 class="card-title text-uppercase">AMBUSH Necklace</h5>
          <p class="card-text small">Necklace from AMBUSHComposition: 100% Ottone</p>
          <p class="card-text">
            <small class="text-danger mr-2 font-weight-bold">PRICE $173.00</small>
            <small class="text-muted"><del>$283.00</del></small>
          </p>
          <a [routerLink]="['/user/product-detail', 1775839]" class="text-primary text-uppercase small font-weight-bold">Go to Detail</a>
        </div>
      </div>
    </div>
    
  </div>
</section>