<section class="container-fluid h-100 p-0">
  <section class="row h-100 m-0">
    <div class="col-md-2 p-0">
        <app-sidebar></app-sidebar>
    </div>
    <div class="col-md-10 p-0">
      <app-header></app-header>
      <section class="container">
        <div class="card mt-3">
          <div class="card-body">
              <div class="row">
                <div class="col-md-3">dhdshkhdhlsdhl</div>
                <div class="col-md-9"></div>
              </div>
          </div>
        </div>
      </section>
    </div>
</section>
</section>
<!-- <router-outlet></router-outlet> -->
