html{
  margin: 0;
  padding:0;
  height: 100%;
  body{
    @extend html;
    .pointer{
      cursor:pointer;
    }
    .form-control{
      border: none;
      border-bottom: 1px solid #ced4da;
      background: transparent;
      border-radius: unset;
      margin-bottom: 15px;
      &:focus{
        border-color: #ced4da;
        background: transparent;
        box-shadow: unset;
      }
    }
    .btn{
      &-primary{
        font-size: 16px;
        background: #5d5c8c;
        border-radius: unset;
        border: unset;
        &:active, &:hover, &:not(:disabled):not(.disabled):active{
          border: unset;
          background: #5d5c8c;
        }
        &:focus, &:not(:disabled):not(.disabled):active:focus{
          box-shadow: unset;
        }

      }

    }
    .checkboxIcon{
      position: relative;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      input[type="checkbox"]{
       display: none;
        &:checked  ~ .checkmark:after{
            display: block;
            width: 10px;
            height: 22px;
            border: solid #5d5c8c;
            border-width: 0 2.4px 2.4px 0px;
            transform: rotate(45deg);
            left: 9px;
            top: -7px;
        }
      }
      .checkmark {
        position: absolute;
        top: 0;
        left: 0;
        height: 22px;
        width: 22px;
        border-radius: 3px;
        border: 2px solid #5d5c8c;
        &:after {
          content: "";
          position: absolute;
          display: none;
        }
      }
    }
  }
}
