<section class="advertisers">
  <h6 class="text-uppercase font-weight-bold text-secondary my-3">
    Home / Advertisers
  </h6>
  <div class="row">
    <div class="col-6">
      <div class="row">
        <div class="col-6 offset-6 text-right">
          <h6 class="adCommision text-uppercase font-weight-bold p-2 small d-inline-block">
            Commission
          </h6>
        </div>
      </div>
      <ul class="nav flex-column">
        <li class="d-flex justify-content-between flex-fill small p-2">
          <span class="name">Global Advertising LTD</span>
          <span class="commision">14%-20%</span>
        </li>
        <li class="d-flex justify-content-between flex-fill small p-2">
          <span class="name">Fateh Corporation</span>
          <span class="commision">12%-15%</span>
        </li>
        <li class="d-flex justify-content-between flex-fill small p-2">
          <span class="name">Vectim LLC</span>
          <span class="commision">4%-10%</span>
        </li>
        <li class="d-flex justify-content-between flex-fill small p-2">
          <span class="name">In House Pvt Ltd</span>
          <span class="commision">14%-20%</span>
        </li>
      </ul>
    </div>
    <div class="col-6">
      <div class="row">
        <div class="col-6 offset-6 text-right">
          <h6 class="adCommision text-uppercase font-weight-bold p-2 small d-inline-block">
            Commission
          </h6>
        </div>
      </div>
      <ul class="nav flex-column">
        <li class="d-flex justify-content-between flex-fill small p-2">
          <span class="name">107 Bauty</span>
          <span class="commision">11%-16%</span>
        </li>
        <li class="d-flex justify-content-between flex-fill small p-2">
          <span class="name">123 Office.com</span>
          <span class="commision">12%-15%</span>
        </li>
        <li class="d-flex justify-content-between flex-fill small p-2">
          <span class="name">1000Books</span>
          <span class="commision">24%-30%</span>
        </li>
        <li class="d-flex justify-content-between flex-fill small p-2">
          <span class="name">CosPlayshop.com</span>
          <span class="commision">21%-25%</span>
        </li>
      </ul>
    </div>
  </div>
</section>