.sidebar{
  box-shadow: 0px 2px 7px -2px #d6d6d6;
  height: 100%;
  ul{
  .nav-item{
    display: flex;
    border-bottom: 1px solid #f3f3f3;
    .nav-link{
      padding: 8px;
      padding-left: 30px;
      width: 100%;
      color: #5d5c8c;
      svg{
        width: 30px;
        fill:#c5c5c5;
        margin-right: 20px;
      }
      &.active{
        svg{
          fill:#ffffff;
        }
        background: #5d5c8c;
        color: #ffffff;
      }
    }
    }
  }
}
