<section class="productDetail">
  <h6 class="font-weight-bold text-secondary my-3">
      Product Info
  </h6>
  <div class="row p-3 m-1 border">
    <div class="col-4">
      <label>Product Name</label>
      <span>Prada Shell Pearl Necklace</span>
    </div>
    <div class="col-4">
      <label>Product Category</label>
      <span>Other</span>
    </div>
    <div class="col-4">
      <label>Product Price</label>
      <span>$1,173.00</span>
    </div>
    <div class="col-4">
      <label>Discounted Price</label>
      <span>$946.00</span>
    </div>
    <div class="col-4">
      <label>Created Date</label>
      <span>05 Dec 2022</span>
    </div>
    <div class="col-4">
      <label>Status</label>
      <span>Published</span>
    </div>

    <div class="col-4">
      <label>Advertiser</label>
      <span>1000Books</span>
    </div>

    <div class="col-4">
      <label>Requested Date</label>
      <span>06 Dec 2022</span>
    </div>

    <div class="col-4">
      <label>Published Date</label>
      <span>08 Dec 2022</span>
    </div>
 
  </div>
</section>