<section class="login">
  <h5 class="text-muted mb-5 text-center">LOGIN TO YOUR ACCOUNT</h5>
  <form>
    <div class="form-group">
        <input type="text" class="form-control text-center" placeholder="92xxxxxxxxxx">
        <input type="password" class="form-control text-center" placeholder="xxxxxxxx">
        <div class="d-flex justify-content-between mb-5 mt-5">
            <label class="checkboxIcon pointer m-0 pl-4">
                <span class="ml-1">Remember me</span>
                <input type="checkbox" class="pointer">
                <span class="checkmark"></span>
            </label>
              <a routerLink="/forgot">Forgot Password?</a>
        </div>
        <button class="w-100 btn btn-lg btn-primary" type="submit">LOGIN</button>
    </div>
  </form>
  <div class="d-flex flex-column align-items-center">
    <span>Don't have an account?</span>
    <a routerLink="/registration">Create an account</a>
  </div>

</section>

